html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--white);
}

body {
  min-height: 100vh;
  font-size: var(--fs-base);
  background-color: rgb(23, 30, 39);
}

.container {
  display: grid;
  grid-template-columns: minmax(18.75rem, 1fr);
  width: 100%;
  max-width: 1200px;
}

.navbar {
  background-color: var(--bg-navbar);
  display: flex;
  justify-content: center;
  height: clamp(5rem, 6vw, 8rem);
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--space-md);
}

.navbar_brand {
  width: var(--width-logo-mobile);
  display: flex;
  align-items: center;
}


.navbar-link {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  padding: 0 var(--space-sm) var(--space-sm);
  gap: var(--space-xs);
  background-color: var(--bg-navbar);
  height: auto;
  z-index: 100;
}

.navbar-link.active {
  display: flex;
}

.btn:focus-visible {
  outline: 2px solid var(--bg-btn-yellow);
  outline-offset: 2px;
}

.btn.silabus-navbar,
.btn.login,
.btn.join {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn.silabus-navbar {
  color: gray;
  font-weight: 800;
  transition: color 0.3s ease;
}

.btn.silabus-navbar:hover {
  color: rgb(223, 223, 223);
}

.btn.login,
.btn.join,
.btn.join-hero,
.btn.silabus-hero {
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  border-radius: 0.25rem;
  transition: all 0.15s ease;
}

.btn.login {
  border: 1px solid;
  color: var(--color-primary);
}

.btn.login:hover {
  background-color: var(--color-secondary);
  color: var(--black);
}

.btn.join {
  background-color: var(--color-primary);
  color: var(--black);
}

.btn.join:hover {
  background-color: var(--color-secondary);
}

.nav-toggle {
  display: block;
  background: transparent;
  align-self: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  height: 0.125rem;
}


.nav-toggle .bar {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  margin: 0.3rem auto;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.nav-toggle .bar:nth-child(2) {
  height: 0.1rem;
}

.nav-toggle .bar:nth-child(3) {
  height: 0.1rem;
}


/* Hero Section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-md);
  margin-top: calc(clamp(3.5rem, 5vw, 5rem) + var(--space-2xl));
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: var(--fs-lg);
}

.title-hero {
  font-size: var(--fs-lg);
  font-weight: 800;
}

.title-hero span {
  color: var(--color-primary);
}

.description-hero,
.cta-button {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.total-members {
  font-weight: 700;
}

.cta-button {
  gap: var(--space-xs);
}

.btn.join-hero,
.btn.silabus-hero {
  text-decoration: none;
}

.btn.join-hero {
  background-color: var(--color-primary);
  color: var(--black);
}

.btn.join-hero:hover {
  background-color: var(--color-secondary);
  transform: scale(1.015);
}

.btn.silabus-hero {
  border: 1px solid var(--color-primary);
  color: var(--color-secondary);
}

.btn.silabus-hero:hover {
  background-color: var(--color-secondary);
  color: var(--black);
  transform: scale(1.015);
}

.play_video-hero {
  background-color: var(--color-primary);
  padding: 0.85rem 1.125rem;
  color: var(--white);
  border-radius: 100%;
  border: 4px solid var(--white);
  position: absolute;
  top: 45rem;
  left: 13rem;
  transition: transform 0.5s ease;
}

.play_video-hero:hover {
  transform: scale(1.3);
}


.img-hero {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* Main-content */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: var(--space-md);
}

/* Section Intro */
.wrapper-intro {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-sm);
  background: linear-gradient(to right, var(--main-bg), var(--bg-navbar));
  border-radius: 0.25rem;
  text-align: center;
}

.img-intro {
  width: 100%;
}

.struggle-list {
  list-style: outside;
  padding: 0 var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-lg);
  text-align: left;
}

.struggle-conclusion {
  color: var(--color-secondary);
  font-weight: 600;
}


/* CTA Section */
.wrapper-cta {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  padding: var(--space-md);
  margin-top: var(--space-2xl);
}


.title.cta {
  font-size: var(--fs-lg);
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

.highlight-title-cta {
  color: var(--color-secondary);
}


.img-dashboard-2,
.img-dashboard,
.img-forum,
.img-fitur-consultation,
.img-certification {
  width: 100%;
}

.description-materi {
  line-height: 2;
}

.info-materi {
  margin: var(--space-md) 0;
}

.list-materi {
  list-style: outside;
  padding: var(--space-md) var(--space-lg);
}

.btn.video-explanation {
  align-self: start;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  background-color: var(--color-primary);
  border: none;
  padding: var(--space-xs);
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.btn.video-explanation:hover {
  background-color: var(--color-secondary);
  transform: scale(1.015);
}

.cta_learning-flow,
.cta_features-forum,
.cta_features-consultation,
.learning-facilities {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  line-height: 2;
}

.learning-facilities {
  max-width: 100%;
  padding: var(--space-md);
  background-color: var(--bg-navbar);
}

.cta_features-forum ul li,
.cta_features-consultation ul li,
.cta_learning-flow ul li {
  margin: 1rem 0;
}


.title-learning-facilities {
  font-size: var(--fs-lg);
  text-align: center;
  font-weight: 800;
}

.title-learning-facilities span {
  color: var(--color-secondary);
}


.facilities-list li {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-sm);
  line-height: 1.5;
}

.facilities-list li svg {
  color: var(--color-secondary);
}

/* Study Materials */
.study-materials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  padding: var(--space-md);
  border-radius: 0.25rem;
  margin-top: var(--space-3xl);
}

.study-materials_header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.study-materials_title {
  font-size: var(--fs-lg);
  font-weight: 800;
}

.study-materials_title span {
  color: var(--color-primary);
}

.study-materials_img {
  max-width: 100%;
}

.detail-materials {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.materials:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 25px rgba(124, 124, 124, 0.1);
}

.title_materials {
  font-weight: 500;
  margin-bottom: var(--space-xs);
  padding: var(--space-md) var(--space-lg);
  background: linear-gradient(to right, var(--main-bg), var(--bg-navbar));
  transition: all 0.3s ease;
  cursor: pointer;
}

.title_materials:hover {
  color: var(--color-primary);
}

.description_materials {
  background-color: var(--bg-navbar);
  padding: var(--space-md);
  line-height: 2;
  padding: 0 var(--space-lg) var(--space-md) var(--space-lg);
  animation: slideDown 0.3s ease;
}



/* Learning Project */
.learning-project {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  padding: var(--space-md);
  border-radius: 0.25rem;
  text-align: center;
  margin-top: var(--space-xl);
}

.learning-project_header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.learning-project_title {
  font-size: var(--fs-lg);
  font-weight: 800;
}

.learning-project_title span {
  color: var(--color-primary);
}

.learning-project_description {
  line-height: 2;
}

.learning-project_content {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.title_content {
  font-size: var(--fs-md);
  font-weight: 700;
}

.underline {
  max-width: 6rem;
  height: 0.2rem;
  background-color: var(--white);
  border-radius: 1rem;
  margin: var(--space-xs) 0;
}

.module {
  margin-top: var(--space-md);
}

.module svg,
.video-time svg {
  vertical-align: middle;
  margin-right: var(--space-xs);
}

.video-time {
  margin: var(--space-xs);
}

.img-web-toko {
  max-width: 100%;
  margin-bottom: var(--space-sm);
  transition: tranform 0.7s ease-in;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.img-web-toko:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(244, 199, 85, 0.15);
}


.benefit-fullstack {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xl);
  margin: var(--space-xl) 0;
  padding: var(--space-md);
}

.title-benefit {
  font-size: var(--fs-lg);
  font-weight: 800;
  text-align: center;
}

.highlight-benefit {
  color: var(--color-secondary);
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.sallary,
.job-opportunity,
.role {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: rgba(106, 106, 106, 0.384);
  padding: var(--space-md);
  border-radius: 0.25rem;
  line-height: 2;
}

.sallary ul li:nth-child(1),
.job-opportunity ul li:nth-child(1),
.role ul li:nth-child(1) {
  font-size: var(--fs-md);
  font-weight: 800;
  margin-bottom: var(--space-md);
}

.sallary span,
.job-opportunity span {
  color: var(--color-secondary);
  cursor: pointer;
}

.sallary svg,
.job-opportunity svg,
.role svg {
  color: var(--color-secondary);
}


.card.economical-package {
  background-color: rgba(106, 106, 106, 0.384);
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
  margin: var(--space-md);
}

.note {
  padding: var(--space-md);
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.title.card-economical {
  font-size: var(--fs-lg);
  color: black;
  background-color: var(--color-secondary);
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem 0;
}

.img-card-economical {
  max-width: 90%;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-md);
}

.price-normal {
  color: rgb(246, 65, 65);
  font-size: var(--fs-md);
  text-decoration: line-through;
}

.price-discount {
  font-size: var(--fs-2xl);
  color: rgb(144, 197, 63);
}

.btn.join-card {
  font-size: var(--fs-md);
  font-weight: 700;
  background-color: var(--color-primary);
  border-radius: 0.25rem;
  padding: var(--space-xs) var(--space-sm);
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  color: var(--black);
}

.btn.join-card:hover {
  transform: scale(1.015);
  background-color: var(--color-secondary);
}

.summary {
  color: var(--color-secondary);
}


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: var(--bg-navbar);
  margin-top: var(--space-2xl);
}


.footer-wrapper {
  max-width: 100%;
  padding: var(--space-xl) var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}


.company-profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}


.contact-wrapper,
.location-on-maps {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-md);
}

.title.contact,
.title-location {
  font-size: var(--fs-md);
  font-weight: 700;
}


.email,
.phone,
.location {
  display: flex;
  gap: var(--space-sm);
  align-items: flex-start;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.email:hover,
.phone:hover {
  color: var(--color-secondary);
}

.size-6 {
  max-width: 24px;
}


.footer_brand {
  max-width: var(--width-logo-desktop);
}




@media (min-width: 55em) {

  /* setara dengan 880px */
  .img-hero {
    width: var(--width-logo-tablet);
  }

  .nav-toggle {
    display: none;
  }

  .navbar-wrapper {
    flex-direction: row;
  }

  .navbar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }
}